<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Our Menu</title>
	<style>
		
		*{
		box-sizing: border-box;
		margin: 0;
		bottom: 0;
		}

		h1{
		margin-bottom: 40px;
		margin-top: 40px;
		text-align: center;
		}

		.para {
		background-color: lightgray;
		position: relative;
		border: 1px solid black;
		margin-left: 12px;
		margin-right: 12px;
		margin-bottom: 24px;
		padding: 8px;
		padding-top: 36px;
		}

		.section {
		border: 1px solid black;
		text-align: center;
		position: absolute;
		top: 0px;
		right: 0px;
		width: 100px;
		height: 28px;
		}

		#Chicken {
		background-color: lightpink;
		}

		#Beef {
		background-color: maroon;
		color: ghostwhite;
		}

		#Sushi {
		background-color: lightyellow;
		}

		@media (min-width: 992px){.col-lg-4{float: left;}.col-lg-4{width: 33%}}
		@media (min-width: 768px) and (max-width: 991px) {
			.col-md-6,.col-md-12
			{float: left;}
				.col-md-6{
					width: 50%;
				}
			}
		@media (max-width: 767px)
	</style>
</head>
<body>
	<h1>Our Menu</h1>
	<div class="col-lg-4 col-md-6 col-sm-12"><div class="para"><div class="section" id="Chicken">Chicken</div>Your site is very simple. It consists of a page heading and 3 sections (all in one row in the desktop view). Each section contains some text. You can make it dummy text/"lorem ipsum", it doesn't matter. How the sections are laid out on the screen depends on the width of the browser window. (Hint: use media queries discussed in Lecture 23.)</div></div>
	<div class="col-lg-4 col-md-6 col-sm-12"><div class="para"><div class="section" id="Beef">Beef</div>Your site is very simple. It consists of a page heading and 3 sections (all in one row in the desktop view). Each section contains some text. You can make it dummy text/"lorem ipsum", it doesn't matter. How the sections are laid out on the screen depends on the width of the browser window. (Hint: use media queries discussed in Lecture 23.)</div></div>
	<div class="col-lg-4 col-md-12 col-sm-12"><div class="para"><div class="section" id="Sushi">Sushi</div>Your site is very simple. It consists of a page heading and 3 sections (all in one row in the desktop view). Each section contains some text. You can make it dummy text/"lorem ipsum", it doesn't matter. How the sections are laid out on the screen depends on the width of the browser window. (Hint: use media queries discussed in Lecture 23.)<p class="blank"></p></div></div>
</body>
</html>