<<<<<<< HEAD
      .nav-link {
      background: 000000;
      text-align: center;
      border-color: black;
      }

      h2 {
        text-align: center;
        border-top: 20px;
        border-bottom: 12px;
      }

      .blank {
        height: 12px;
      }

      .main-content{
        text-align: center;
        background: lightgray;
        padding: 12px;
        margin: 32px;
      }

      @media (min-width: 576px){
      .navbar-toggler{
        display: none;
      }
      .main-content{
        margin: 12px;
      }
=======

>>>>>>> 1bd1e1dffedd4a7042d7a01e6b68c2c3542e33fa
